In [1]:
from pydataset import data
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [15]:
# Get the data
titanic = data('titanic')
titanic.sample(10)

          class     age    sex survived
395   2nd class  adults    man       no
675   3rd class  adults    man      yes
258   1st class  adults  women      yes
1158  3rd class  adults  women       no
1306  3rd class   child  women       no
47    1st class  adults    man      yes
1116  3rd class  adults  women      yes
133   1st class  adults    man       no
327   2nd class  adults    man      yes
1210  3rd class  adults  women       no

In [16]:
# Feature Engineering (One hot encoding)
titanic =pd.get_dummies(titanic, drop_first=True)
titanic.sample(10)

      class_2nd class  class_3rd class  age_child  sex_women  survived_yes
913                 0                1          0          0             0
494                 1                0          0          1             1
431                 1                0          0          0             0
646                 0                1          0          0             1
731                 0                1          0          0             0
114                 0                0          0          0             0
1184                0                1          0          1             0
83                  0                0          0          0             0
281                 0                0          0          1             1
1234                0                1          0          1             0

In [20]:
# Test Train Split
X_train, X_test, y_train, y_test = train_test_split(titanic.drop('survived_yes', axis=1), titanic['survived_yes'])

In [21]:
# Train the model using the training data
LogReg = LogisticRegression(solver='lbfgs')
LogReg.fit(X_train, y_train)

LogisticRegression()

In [22]:
# Predicting if a class-1 child-age girl survived
LogReg.predict(np.array([[0,0,1,1]]))[0]

1

In [23]:
# Predicting if a class-3 adult-age male survived
LogReg.predict(np.array([[0,1,0,0]]))[0]

0

In [24]:
# Scoring the model
LogReg.score(X_test, y_test)

0.78419452887538

In [25]:
# Understanding the score
prediction = (LogReg.predict(X_test) > .5).astype(int)
np.sum(prediction == y_test) / len(y_test)

0.78419452887538